<div class="header">
  <div class="header__background">
    <div class="header__content">
      <h1 class="header__title">Swap your lunch</h1>
      <p class="header__subtitle">Offer your lunch on your group and claim your colleagues’ lunch.</p>
      <%= link_to "Start now", new_user_session_path, class:"header__button" %>
    </div>
  </div>
</div>
