<div class="header">
  <div class="header__background">
    <div class="header__content">
      <h1 class="header__title">Swap your lunch</h1>
      <p class="header__subtitle">Offer your lunch on your group and claim your colleagues’ lunch.</p>
      <a href="#" class="btn btn-primary">Start now</a>
    </div>
  </div>
</div>
