<div class="home_features">
  <div class="home_subtitles text-center d-flex">
    <div class="home_features_div">
      <%= image_tag('carbon_group-access.png', class: "home_features") %>
      <h2>Create your group</h2>
    </div>
    <div class="home_features_div">
      <%= image_tag('Food.png', class: "home_features") %>
      <h2>Share your extra food</h2>
    </div>
    <div class="home_features_div">
      <%= image_tag('Swap.png', class: "home_features") %>
      <h2>Discover a lunch</h2>
    </div>
  </div>
</div>
