<div class="home_features">
  <%= image_tag('group.png', :class => "home_features") %>
  <%= image_tag('Cook.png', :class => "home_features") %>
  <%= image_tag('Swap.png', :class => "home_features") %>
</div>
