<div class="home_features">
  <%= image_tag('Group.png', :class => "home_features") %>
  <%= image_tag('Food.png', :class => "home_features") %>
  <%= image_tag('Swap.png', :class => "home_features") %>
</div>
