  <div class="text-center d-flex home_features">
    <div class="home_features_div">
      <%= image_tag('group.png') %>
      <h2 class="h3">Create your group</h2>
    </div>
    <div class="home_features_div">
      <%= image_tag('cook.png') %>
      <h2 class="h3">Share your extra food</h2>
    </div>
    <div class="home_features_div">
      <%= image_tag('swap.png') %>
      <h2 class="h3">Discover a lunch</h2>
    </div>
  </div>
