<div class="header d-flex align-items-center justify-content-between">
  <div class="header__background d-flex justify-content-between">
    <div class="header__content  flex-column justify-content-center">
      <h1 class="header__title">Swap your lunch</h1>
      <p class="header__subtitle">Offer your lunch on your group and claim your colleagues’ lunch.</p>
      <% if user_signed_in?%>
        <% if current_user.groups.any?  %>
          <%= link_to "View lunches", group_lunches_path(@groups[0]), class:"header__button" %>
        <% else %>
          <%= link_to "Create group", groups_path, class:"header__button" %>
        <% end %>
      <% else%>
        <%= link_to "Start now", new_user_session_path, class:"header__button" %>
      <% end %>
    </div>
    <div class="homeh d-flex justify-content-end align-items-center ps-5">
      <%= image_tag('homeh.png') %>
    </div>
  </div>
</div>
