<div class="header">
  <div class="header__background">
    <div class="header__content">
      <h1 class="header__title">Swap your lunch</h1>
      <p class="header__subtitle">Offer your lunch on your group and claim your colleagues’ lunch.</p>
      <% if user_signed_in?%>
        <% if current_user.groups.any?  %>
          <%= link_to "View lunches", group_lunches_path(current_user.group_ids), class:"header__button" %>
          <% else %>
          <%= link_to "Create group", groups_path, class:"header__button" %>
        <% end %>
      <% else%>
        <%= link_to "Start now", new_user_session_path, class:"header__button" %>
      <% end %>
    </div>
  </div>
</div>
