// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

// Define fonts for body and headers
$body-font: "Roboto", "Montserrat", "sans-serif";
$headers-font: "Roboto", "Montserrat", "sans-serif";

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

p {
  font-family: $body-font;
}

