<div class="notifications" data-notification-subscription-target="notifications">
  <% @notification.notifications.each do |notification| %>
    <%= render "notification", notification: notification %>
  <% end %>
</div>
