<div class="footer mt-5">
  <div class="footer-links">
    <a href="https://github.com/marjmondon/PotLunch"><i class="fa-brands fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Inc 2022. We love our users
  </div>
</div>
