<ul class="nav flex-column vertical-nav">
  <li class="nav-item">
  <% if @group.photo.attached? %>
    <%= cl_image_tag(@group.photo.key, :class => "group-logo") %>
  <% else %>
    <%= image_tag('wagon.png', :class => "group-logo") %>
  <% end %>
  </li>
    <li class="nav-item">
   <%= link_to image_tag("AddGroupButton.png", :class => "nav-link-vertical"), groups_path %>
  </li>
  <%#= raise %>
</ul>




