.header__button {
  background-image: linear-gradient(180deg, $orange 0%, $red 100%);
  background-position: cover;
  border-radius: 15px;
  color: $tan;
  font-size: 24px;
  font-weight: 700;
  padding: 5px 60px;
  text-decoration: none;
  border: 0px;
}

.header__button:hover {
  background-image: linear-gradient(160deg, $orange 0%, $red 80%);
  color: $tan;
  border: 0px;
}

.button-chat {
  background-image: linear-gradient(180deg, $orange 0%, $red 100%);
  background-position: cover;
  border-radius: 15px;
  color: $tan;
  font-size: 24px;
  font-weight: 700;
  padding: 5px 60px;
  text-decoration: none;
  border-style: none;
}

.header__buttond {
  background-image: linear-gradient(180deg, #b0b0b0 0%, $light-gray 100%);
  background-position: cover;
  border-radius: 15px;
  color: $tan;
  font-size: 24px;
  font-weight: 700;
  padding: 5px 60px;
  text-decoration: none;
}

.header__buttond:hover {
  background-image: linear-gradient(160deg, #b0b0b0 0%, $light-gray 80%);
  color: $tan;
}

.header__button-outlined {
  background-color: transparent;
  border-radius: 15px;
  color: $orange;
  font-size: 24px;
  font-weight: 700;
  padding: 5px 60px;
  text-decoration: none;
  // border: 2px solid $orange;
  box-shadow: inset 0 0 0 2px $orange;
}

.header__button-outlined:hover {
  background-image: linear-gradient(160deg, $orange 0%, $red 80%);
  color: $tan;
}

.form__button {
  background-image: linear-gradient(180deg, $orange 0%, $red 100%);
  background-position: cover;
  border-radius: 15px;
  color: $tan;
  font-size: 24px;
  font-weight: 700;
  padding: 5px 60px;
  text-decoration: none;
  border: 0px;
}

.form__button:hover {
  background-image: linear-gradient(160deg, $orange 0%, $red 80%);
  color: $tan !important;
  border: 0px;
}

.form_index_button {
  background-image: linear-gradient(180deg, $orange 0%, $red 100%);
  background-position: cover;
  border-radius: 15px;
  color: $tan;
  font-size: 24px;
  font-weight: 700;
  padding: 0px 60px;
  text-decoration: none;
  border: none;
}

.form_index_button:hover {
  background-image: linear-gradient(160deg, $orange 0%, $red 80%);
  color: $tan;
}
