.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  color: $gray;
  font-size: 60px;
  font-weight: bold;
  border-radius: 5px;
  margin: 60px;
  padding: 60px;
}

.card-category h1 {

  font-size: 60px;
  font-weight: bold;
  color: $gray;
}

.card-product {
  overflow: hidden;
  height: 300px;
  background: $white;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 60px;
}

.card-product img {
  height: 100%;
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.card-product h2 a {
  font-size: 40px;
  color: $gray;
  font-weight: bold;
  margin: 20px 20px;
  text-decoration: none;
}

.card-product p {
  font-size: 24px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 20px
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-show-title h1{
  font-size: 50px;
  color: $gray;
  font-weight: bold;
  margin: 10px 10px;
  text-decoration: none;
}

.card-show-title p{
  color: $gray;
  font-weight: bold;
  margin: 10px 10px;
  text-decoration: none;
}

.card-show-info {
  background: $white;
  height: 325px;
  border-radius: 20px;
  padding: 20px;
  margin: 60px;
}

.card-show {
  background: $white;
  height: 375px;
  border-radius: 20px;
  margin: 60px;
}

.card-show .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.card-show > img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card-show .card-show-infos {
  display: flex;
  align-items: center;
}

.card-show-infos .card-show-user {
  left: 30px;
  bottom: 0px;
  width: 50px;
  border-radius: 50%;
}

.card-show ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
