.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  color: $gray;
  font-size: 60px;
  font-weight: bold;
  border-radius: 5px;
  margin: 60px;
  padding: 60px;
}

.card-category h1 {

  font-size: 60px;
  font-weight: bold;
  color: $gray;
}

