.header {
  background-image: url(header-bg.png);
  height: 400px;
  margin-bottom: 20px;
  padding: 80px;
  position: relative;
}

.header__title {
  font-size: 70px;
  font-weight: 700;
  color: $gray;
  margin-bottom: 20px;
}

.header__subtitle {
  font-size: 24px;
  font-weight: 400;
  color: $gray;
  margin-bottom: 30px;
}

.header__button {
  background-image: linear-gradient(180deg, $orange 0%, $red 100%);
  background-position: cover;
  border-radius: 15px;
  color: $tan;
  font-size: 24px;
  font-weight: 700;
  padding: 5px 50px;
  text-decoration: none;
  transition: 0.5s ease;
}

.header__button:hover {
  background-image: linear-gradient(180deg, $orange 51%, $red 100%);
  color: $tan;
}

