.home-icons{
  width: 60px;
  height: 60px;
  filter: contrast(60%);
}
.home-icons:hover{
  cursor: pointer;
  filter: contrast(100%);
  // filter: grayscale(100%);
}

.home-icons:active{
  width: 60px;
  height: 60px;
  opacity: 0.25;
}

.home-icons-show{
  width: 100px;
  height: 100px;
  padding: 20px;
}
