.outlined-input{
border: 2px solid $orange;
color: $orange;
border-radius: 5px;
margin-left: 60px;
width: 300px;
height: 40px;
}

#query{
  border: 2px solid $orange;
  color: $orange;
  border-radius: 5px;
  margin-left: 60px;
  width: 300px;
  height: 40px;
}