.outlined-input{
border: 2px solid $orange;
color: $orange;
border-radius: 5px;
margin-left: 60px;
width: 340px;
height: 40px;
}

#query{
  border: 2px solid $orange;
  color: $orange;
  border-radius: 5px;
  margin-left: 60px;
  width: 300px;
  height: 40px;
}

.fa-regular {
  margin-left: 12px;
  color: $orange;
}

.fa-regular:hover {
  font-size: 20px;
  cursor: copy;
}
