.chatroom-container {
  background-image: url("food-background.png");
  background-size: 30%;
  // background-position: center;
  padding: 10px;
  border-radius: 15px;
  width: 1140px;
  margin: 0 auto;
}

.container-box-status {
  width: 1140px;
  margin: 0 auto;
}

.validation-lunch {
  background-color: $white;
  padding: 10px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

// To style the wrapping div
.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 5px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  border: $orange 2px solid;
  border-radius: 15px;
  background-color: #f5c3bd;
}

.receiver-style {
  border: $orange 2px solid;
  border-radius: 15px;
  background-color: $tan;

}

.message-box {
  border: $orange 2px solid !important;
  margin-right: 10px;
}
