.navbar-home {
  justify-content: space-between;
  background: transparent;
}

.navbar-home .navbar-collapse {
  flex-grow: 0;
}

.navbar-home .navbar-brand img {
  width: 250px;
}

.nav-link {
  color: $gray;
  font-weight: bold;
  font-size: 20px;
}