.navbar-home {
  justify-content: space-between;
  background-color: $white;
  z-index: 2;
  // background-image: url(header-bg.png);
}

.navbar-home .navbar-collapse {
  flex-grow: 0;
}

.navbar-home .navbar-brand img {
  width: 125px;
}

.nav-link {
  color: $gray;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
}