<% if @lunch.photos.attached? %>
  <% if @lunch.photos.count > 1 %>
    <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner" style="border-radius:20px;">
        <% @lunch.photos.each do |photo| %>
          <div class="carousel-item active card-caroussel">
            <%= cl_image_tag photo.key, height: 480, class: "d-block w-100"%>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev text-info" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% else %>
      <% @lunch.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 480 %>
      <% end %>
  <% end %>
<% else %>
  <%= image_tag('lunch.jpg') %>
<% end %>
