<%# My Lunches %>
<% if @lunches.nil? %>
  <p>You didn't create lunch yet!</p>
<% else %>
    <% @lunches.each do |lunch| %>
      <div class="card-product">
        <% if lunch.photos.attached? %>
          <%= cl_image_tag lunch.photos.first.key, height: 50%>
        <% else %>
          <%= image_tag('lunch.jpeg') %>
        <% end %>
        <div class="card-product-infos">
          <h2><%= lunch.title.capitalize %></h2>
          <p> <%= lunch.description %> </p>
        </div>
      </div>
    <% end %>
<% end %>
