<div class="container my-5">
  <nav class="accordion arrows">

    <%# My Lunches  %>
    <input type="radio" name="accordion" id="cb1" />
    <section class="box mb-5">
      <label class="box-title" for="cb1"> My Lunches</label>
      <label class="box-close" for="acc-close"></label>
      <div class="box-content">
         <%= render "bringatwork", swap: @swap %>
      </div>
    </section>

    <%# Lunches to be received %>
    <input type="radio" name="accordion" id="cb2" />
    <section class="box mb-5">
      <label class="box-title" for="cb2">Lunches to be received</label>
      <label class="box-close" for="acc-close"></label>
      <div class="box-content">
        <%= render "tobereceived", swap: @swap %>
      </div>
    </section>
    <input type="radio" name="accordion" id="acc-close" />

    <%# calendar %>
    <%= render "calendar", swap: @swaps_calendar %>
  </nav>
</div>
